@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-color: #24232b;
  --secondary-color: #a4ffaf;
}

.password-generator-wrapper {
  max-width: 100vw;
  min-height: 100vh;

  position: relative;
  background-color: #121212;
  font-family: "Fira Code", monospace;
  color: #ffff;
}

.password-generator-container {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 10px 10px;
  width: 340px;
  height: 445px;
}

.box::selection {
  background-color: var(--secondary-color);
  color: var(--card-color);
}

.heading h1 {
  font-size: 1rem;
  text-align: center;
  opacity: 0.3;
  margin-bottom: 20px;
}

.password-box {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--card-color);
  margin-bottom: 15px;
}

.password-box h2 {
  font-size: 1.05rem;
  letter-spacing: 1.3px;
}

.password-box p {
  font-size: 0.8rem;
  color: var(--secondary-color);
}

.copy-btn {
  font-size: 0.8rem;
  transform: all 0.5s linear;
}

.copy-btn:hover {
  color: var(--secondary-color);
  transform: scale(1.1);
  cursor: pointer;
}

.lower-part {
  background-color: var(--card-color);
  padding: 20px 20px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character-length-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pass-length-text {
  font-size: 0.7rem;
}

.pass-length {
  color: var(--secondary-color);
  font-size: 1.1rem;
}

.slider {
  accent-color: var(--secondary-color);
}

.slider:active {
  accent-color: var(--secondary-color);
}

.slider:hover {
  accent-color: var(--secondary-color);
  border: none;
  outline: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-box {
  font-size: 0.8rem;
  opacity: 90%;
  display: flex;
  letter-spacing: -0.4px;
  flex-direction: column;
  gap: 2px;
}

.option {
  display: flex;
  align-items: center;
}

.check-box {
  accent-color: var(--secondary-color);
  cursor: pointer;
}

.check-box:checked {
  background-color: var(--secondary-color);
  border: 1px solid #188825;
}

.options-box input {
  margin-right: 10px;
}

.strength-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #121212;
}

.strength-box h3 {
  font-size: 0.6rem;
  letter-spacing: 0.8px;
  opacity: 0.6;
}

.strength-box p {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.errorMessage {
  font-size: 0.7rem;
  text-align: center;
  color: rgba(246, 27, 27, 0.954);
}

.generate-btn {
  width: 100%;
  padding: 10px 0;
  font-size: 0.7rem;
  font-weight: 550;
  letter-spacing: 0.5px;
  background-color: var(--secondary-color);
  border: none;
  transition: all 0.5s linear;
}

.generate-btn:hover {
  cursor: pointer;
}

.generate-btn:active {
  transform: scale(0.9);
}

.credit {
  font-size: 0.6rem;
  margin-top: 30px;
  opacity: 50%;
  text-align: center;
  position: absolute;
  bottom: 30px;
}

@media screen and (max-width: 360px) {
  .box {
    width: 310px;
  }
}

@media screen and (min-width: 768px) {
  .box {
    width: 500px;
    height: 600px;
    padding: 10px 10px;
  }

  .heading h1 {
    font-size: 1.2rem;
  }

  .password-box {
    padding: 20px 20px;
  }

  .password-box h2 {
    font-size: 1.3rem;
    letter-spacing: 1.5px;
  }

  .password-box p {
    font-size: 0.9rem;
  }

  .copy-btn {
    font-size: 0.9rem;
  }

  .lower-part {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
  }

  .options-box {
    gap: 8px;
    font-size: 0.9rem;
  }

  .pass-length-text {
    font-size: 0.8rem;
  }

  .pass-length {
    font-size: 1.2rem;
  }

  .check-box {
    height: 13px;
    width: 13px;
    border-radius: 3px;
  }

  .strength-box {
    padding: 15px 15px;
    background-color: #121212;
  }

  .strength-box h3 {
    font-size: 0.8rem;
    letter-spacing: 0.9px;
  }

  .strength-box p {
    font-size: 1rem;
  }

  .errorMessage {
    font-size: 0.9rem;
    text-align: center;
    color: rgba(246, 27, 27, 0.954);
  }

  .generate-btn {
    padding: 13px 0;
    font-size: 0.8rem;
    font-weight: 550;
    letter-spacing: 0.5px;
  }

  .credit {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .box {
    width: 600px;
    height: 520px;
    padding: 10px 10px;
  }

  .password-box {
    padding: 30px 20px;
  }

  .password-box h2 {
    font-size: 1.3rem;
    letter-spacing: 1.5px;
  }

  .password-box p {
    font-size: 1.1rem;
  }

  .copy-btn {
    font-size: 1.1rem;
  }

  .lower-part {
    height: 375px;
  }

  .pass-length-text {
    font-size: 0.9rem;
  }

  .pass-length {
    font-size: 1.3rem;
  }

  .options-box {
    font-size: 1rem;
  }

  .check-box {
    height: 15px;
    width: 15px;
    border-radius: 5px;
  }

  .strength-box h3 {
    font-size: 0.8rem;
    letter-spacing: 0.9px;
  }

  .strength-box p {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }

  .generate-btn {
    padding: 15px 0;
    cursor: pointer;
  }

  .credit {
    font-size: 0.8rem;
    margin-top: 30px;
    opacity: 50%;
  }
}
