@import url("https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orbiter-font: "TASA Orbiter", sans-serif;
  --space-mono:  "Space Mono", monospace;
  --orange: #ff6b35;
}

body,
html {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  max-width: 100vw;
  min-height: 100vh;
}

.heading-container {
  padding-top: 5rem;
  width: 100%;
  text-align: center;
}

.heading {
  font-family: var(--orbiter-font);
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

.sub-heading {
  max-width: 700px;
  padding: 0 0.25rem;
  color: rgb(97, 96, 96);
  line-height: 1.6;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
}

.questions-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.25rem;
}

.question {
  font-size: 1.25rem;
  font-weight: 450;
  line-height: 1.6;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.2s linear;
}

.question.hoverable:hover {
  color: var(--orange);
  transform: scale(0.98);
}

.checked {
  color: var(--orange);
  font-size: 1.25rem;
  font-weight: 600;
}

.not-checked {
  font-size: 1.25rem;
}


@media screen and (min-width: 768px) {
  .heading {
    font-size: 3rem;
  }

  .sub-heading {
    font-size: 1.5rem;
    padding: 0 0;
  }
}
